/*******************************************************************************
 * omega_hangout-jackbasic.layout.scss
 *
 * Additional, theme specific styles for the jackbasic layout.
 ******************************************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jack\/Sites\/drupal\/sites\/all\/themes\/achterbos\/sass\/layouts\/jackbase\/omega_hangout-jackbase\.layout\.scss}line{font-family:\0000310}}
body {
  background: transparent url('../../../images/diagonal.png?1389801941') left top repeat; }

/* Header */
/* Content Area */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jack\/Sites\/drupal\/sites\/all\/themes\/achterbos\/sass\/layouts\/jackbase\/omega_hangout-jackbase\.layout\.scss}line{font-family:\0000320}}
.l-highlighted-wrapper {
  background: #fff; }

/* Sidebars */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jack\/Sites\/drupal\/sites\/all\/themes\/achterbos\/sass\/layouts\/jackbase\/omega_hangout-jackbase\.layout\.scss}line{font-family:\0000326}}
.l-region--sidebar-first,
.l-region--sidebar-second {
  background-color: #fff; }

/* Footer */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jack\/Sites\/drupal\/sites\/all\/themes\/achterbos\/sass\/layouts\/jackbase\/omega_hangout-jackbase\.layout\.scss}line{font-family:\0000331}}
.l-footer-wrapper {
  background: #fff; }
