/* main */
$background: #fff;
$textcolor: #444;

/* menu */
$menutext: #fff;
$menubackground: #000;
$menubackground-active: #272822;
$ofcanvasbackground: darken($menubackground, 3%);

/* footer */
$footerbackground: #2b2b2b;
$footertext: #636363;

/* copyright */
$copyrightbackground: #1e1e1e;
// $copyrighttext: ;
